{% extends "VitelogeUserBundle:base:box_right.html.twig" %}

{%- block box_title -%}
    <a href="{{ path('fos_user_registration_register') }}">{% trans %}user.register.account.no{% endtrans %}</a>
{%- endblock -%}

{%- block box_content -%}
    <ul class="nopaddingli">
        <li>{% trans %}user.register.account.line1{% endtrans %}</li>
        <li>{% trans %}user.register.account.line2{% endtrans %}</li>
        <li>{% trans %}user.register.account.line3{% endtrans %}</li>
    </ul>
    <a href="{{ path('fos_user_registration_register') }}"><input type="button" class="btn btn-primary form-control" value="{{ 'user.register'|trans }}" /></a>

{%- endblock -%}
