{% extends "VitelogeUserBundle:base:box.html.twig" %}

{%- block box_title -%}
    {% trans %}user.register.account.no{% endtrans %}
{%- endblock -%}

{%- block box_content -%}
    <ul>
        <li>{% trans %}user.register.account.line1{% endtrans %}</li>
        <li>{% trans %}user.register.account.line2{% endtrans %}</li>
        <li>{% trans %}user.register.account.line3{% endtrans %}</li>
    </ul>
    <a href="{{ path('fos_user_registration_register') }}" class="btn btn-default btn-block" role="button">{% trans %}user.register{% endtrans %}</a>
{%- endblock -%}
