{% extends "FOSUserBundle::layout.html.twig" %}

{% block main %}
    {% embed "VitelogeUserBundle:grid:two-columns.html.twig" with { 'lsize': 9, 'rsize': 3 } %}
        {% block left %}
            <div class="panel panel-primary">
                <div class="panel-body">
                    <div class="content">
                        {{ include('VitelogeUserBundle:ChangePassword:fragment/form.html.twig') }}
                    </div>
                </div>
            </div>
        {% endblock %}
        {% block right %}
            {{ include('VitelogeFrontendBundle:Block:aside_right.html.twig', {}) }}
        {% endblock %}
    {% endembed %}
{% endblock main %}
