{% set transaction = transaction|default('default') %}
<section class="over-unscrollable text-center theme-{{ transaction }} static highlighting">
    <div class="scrollable container">
        <h3 class="hidden">{% transchoice transaction|vl_intval with { '%city%': 'viteloge.from.you'|trans } %}ad.transaction.near.city{% endtranschoice %}</h3>
        <div id="carousel-home-{{ transaction|lower }}" class="owl-carousel owl-slide" data-role="carousel"></div>
    </div>
</section>
