<section class="text-center theme-{{ transaction }} static">
    <div class="highlighting">
        <div class="container">
            {{ render_hinclude(path('viteloge_frontend_ad_carousel', { 'transaction': transaction, 'limit': 9 })) }}
        </div>
    </div>
</section>
