<section class="main-section text-center">
    <div class="container">
        <h3 class="text-uppercase">{% trans %}Services offered by Fasthousing{% endtrans %}</h3>
        <div class="row">
            {{ render_hinclude(path('viteloge_frontend_service_list', { })) }}
        </div>
    </div>
</section>
