<section class="last-search">
    <div class="container">
        <div class="row">
            <div class="searches col-md-8">
                {{ render(controller('VitelogeFrontendBundle:WebSearch:latest', { })) }}
            </div>
            <aside class="col-md-4" data-role="secondary">
                {{ include('VitelogeFrontendBundle:misc:adsense.html.twig', { }) }}
            </aside>
        </div>
    </div>
</section>
