<figure class="service col-xs-12 col-md-4">
    <img src="{{ asset( service.getImage() ) }}" alt="image">
    <div class="rounded-icon center-block"></div>
    <figcaption class="service-legend">
        <h4 class="title">{{ service.getTitle() | trans }}</h4>
        <p class="description" data-role="description">
            {{ service.getDescription() | trans }}
        </p>
    </figcaption>
</figure>
