{% extends 'VitelogeFrontendBundle:Form:adSearch_header.html.twig' %}

{%- set isTransactionLabelHidden = isTransactionLabelHidden|default(false) -%}

{%- block form_start -%}
{%- set path = path('viteloge_frontend_ad_searchfromform') -%}
{%- if isTransactionLabelHidden -%}
    {%- set path = path('viteloge_frontend_ad_searchfromform', { 'hideTransaction': isTransactionLabelHidden }) -%}
{%- endif -%}
{{- form_start(form, {'action': path, 'attr': {'enctype': 'application/x-www-form-urlencoded', 'class': 'col-md-10 search', 'data-ajax': 'true', 'role': 'search', 'novalidate': 'novalidate'}}) -}}
{%- endblock form_start -%}

{%- block form_fields -%}
    <div class="hidden">
        {%- if isTransactionLabelHidden -%}
            {{- form_widget(form.transaction, { label_attr: { 'class': 'radio-inline hidden' }, theme_container: theme_container|default('search-container') }) -}}
        {%- endif -%}
    </div>
    {{- parent() -}}
{%- endblock -%}

