{% extends 'VitelogeFrontendBundle::base.html.twig' %}

{% block main %}
    {% embed "VitelogeUserBundle:grid:two-columns.html.twig" with { 'lsize': 8, 'rsize': 4 } %}
        {% block left %}
            <div class="clearfix">
                {{ include('VitelogeFrontendBundle:WebSearch:form/edit.html.twig', { form: form }) }}
            </div>
            <div class="clearfix text-right">
                <br>{{ include('VitelogeFrontendBundle:WebSearch:form/delete.html.twig', { form: form_delete }) }}
            </div>
        {% endblock %}
        {% block right %}
            {{ include('VitelogeFrontendBundle:Block:aside_right.html.twig', {}) }}
        {% endblock %}
    {% endembed %}
{% endblock main %}
