{% extends 'VitelogeFrontendBundle::base.html.twig' %}

{% block main %}
    {% embed "VitelogeUserBundle:grid:two-columns.html.twig" with { 'lsize': 8, 'rsize': 4 } %}
        {% block left %}
            <div class="">
                <a href="{{ path('viteloge_frontend_websearch_create', { }) }}" class="btn btn-default" role="button">{% trans %}Add{% endtrans %}</a>
            </div>
            <ul>
                {% for webSearch in webSearches %}
                    {{ include('VitelogeFrontendBundle:WebSearch:render/result.html.twig', { 'webSearch': webSearch }) }}
                {% endfor %}
            </ul>
        {% endblock %}
        {% block right %}
            <aside>
                <div class="">
                    {{ include('VitelogeFrontendBundle:menu:user.html.twig', { }) }}
                </div>
                publicité
            </aside>
        {% endblock %}
    {% endembed %}
{% endblock main %}
