{% extends 'VitelogeFrontendBundle::base.html.twig' %}

{% block main %}
    {% embed "VitelogeUserBundle:grid:two-columns.html.twig" with { 'lsize': 9, 'rsize': 3 } %}
        {% block left %}
            <div class="clearfix">
                {{ include('VitelogeFrontendBundle:WebSearch:form/delete.html.twig', { form: form_websearch_delete }) }}
            </div>
            <div class="clearfix">
                <p>{% trans %}viteloge.or{% endtrans %}</p>
            </div>
            <div class="clearfix">
                {{ include('VitelogeFrontendBundle:UserSearch:form/delete.html.twig', { form: form_usersearch_delete }) }}
            </div>
        {% endblock %}
        {% block right %}
            {{ include('VitelogeFrontendBundle:Block:aside_right.html.twig', {}) }}
        {% endblock %}
    {% endembed %}
{% endblock main %}
