{% extends "VitelogeUserBundle::layout.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}

{%- block main -%}
    <div class="teaser one teaser-fixed">
        <article class="over container text-justify clearfix">
            <h1 class="h3 text-uppercase text-center over-content">{%- trans from 'messages' -%}user.register.login{%- endtrans -%}</h1>
            <div class="row">
                <div class="col-md-6">
                    {{- include('VitelogeUserBundle:Security:fragment/form.html.twig') -}}
                </div>
                <div class="col-md-6">
                    {{- include('VitelogeUserBundle:Registration:fragment/subscribe_block.html.twig') -}}
                </div>
            </div>
        </article>
    </div>
{%- endblock -%}
