{% extends 'VitelogeCoreBundle:Global:panel.html.twig' %}

{%- set show = show|default(true) -%}
{%- set footer = footer|default(true) -%}

{%- block panel_buttons_before -%}
    {{ include('VitelogeCoreBundle:Global:panel/button_plus.html.twig') }}
{%- endblock panel_buttons_before -%}

{%- block panel_title -%}
    {%- trans -%}Prix moyen du m²{%- endtrans -%}
{%- endblock panel_title -%}

{%- block panel_body -%}
    <span class="text-secondary">{%- trans with { '%count%': barometers.total, '%city%': city } -%}Ce calcul se base sur les %count% biens actuellement en vente sur la ville de %city% et référencé sur Vitelogé.{%- endtrans -%}</span>
    <a href="{{ path('viteloge_frontend_ad_search', { where: city.id }) }}" class="text-secondary">Voir ces biens</a>
{%- endblock panel_body -%}

{%- block panel_body_before -%}
    <ul class="list-group">
        {%- for item in statistics -%}
            {{ include('VitelogeEstimationBundle:CityStats:render/li-surface_price.html.twig') }}
        {%- endfor -%}
    </ul>
{%- endblock panel_body_before -%}

{%- block panel_footer -%}
    <div class="text-center">
        <a href="{{ path('viteloge_estimation_default_index') }}" class="btn btn-primary" role="button">
            <span class="icon-icon-calculator"></span>
            <span>{% trans %}estimation.label.save{% endtrans %}</span>
        </a>
    </div>
{%- endblock panel_footer -%}
