<h1>Votre inscription sur viteloge</h1>
<p>Suite à votre message sur viteloge, un compte à était crée</p>

<h2>Suivez le lien pour l'activer</h2>

<p>Et choisir votre mot de passe</p>
<blockquote>
    <strong>Votre activation : </strong> <a target='_blank' href="{{ 'http://'~domain~path('fos_user_resetting_reset', { 'token': user.confirmationToken }) }}">viteloge.com</a><br>
</blockquote>

<p>Merci<br/>
l'équipe viteloge</p>

