<section id="contact-container">
    <h4>{% trans %}contact.send.message.for.ad{% endtrans %}</h4>
    <div>
        {{ include('VitelogeFrontendBundle:Contact:form/create.html.twig', { form: form, contact: contact }) }}
    </div>
</section>
