.estate {
    position: relative;
    background-color: #fff;
    overflow: hidden;
    &:focus,
    &:hover {
        .description {
            > a {
                color: $brand-primary;
            }
        }
        .preview {
            &:before {
                @include estate_hover($text-color);
            }
        }
    }
    &:first-child {
        margin-top: 10px;
    }
    + .estate {
        margin-top: 20px;
    }
    .preview {
        padding: 5px;
        display: block;
        overflow: hidden;
        text-decoration: none;
        > img {
            display: block;
            margin: 0 auto;
            background-image: url('http://'+$aws-s3-domain+'/bundles/vitelogecore/images/fr/logo-viteloge-moteur-recherche-immobilier.svg.gz');
            background-position: center center;
            background-repeat: no-repeat;
            background-color: #ddd;
            background-size: 230px;
            height: 190px;
        }
        &:focus,
        &:hover {
            &:before {
                @include estate_hover($text-color);
            }
        }
    }
    .agency-logo {
        display: block;
        position: absolute;
        bottom: 10px;
        left: 10px;
        width: 50px;
        height: 50px;
    }
    .title {
        margin-top: 9px;
        margin-bottom: 0px;
        padding-left: 5px;
        font-weight: 700;
    }
    .subtitle {
        padding-left: 5px;
        color: $brand-primary;
        font-size: 13px;
        font-weight: 700;
    }
    .description {
        margin-top: 10px;
        margin-bottom: 10px;
        a {
            text-decoration: underline;
        }
        > a {
            padding-left: 5px;
            color: $gray-light;
            &:hover,
            &:focus {
                color: $brand-primary;
            }
        }
        > p {
            padding-left: 5px;
            padding-right: 8px;
            @include block_ellipsis(3);
            a {
                color: $brand-primary;
                &:hover,
                &:focus {
                    color: $text-color;
                }
            }
        }
        [rel="quartier"], [rel="area"] {
            & {
                color: $brand-primary;
                text-decoration: underline;
                cursor: pointer;
                &:hover {
                    color: $brand-primary;
                }
            }
            &:before {
                padding-left: 2px;
                padding-right: 2px;
                @extend .fa;
                @extend .fa-map-marker !optional;
            }
        }
    }
    .price {
        color: $brand-primary;
        font-size: $font-size-xlarge;
        margin-top: -30px;
        margin-right: 10px;
    }
    .footer {
        background-color: #27303d;
        color: #fff;
        > .nav {
            > li {
                &.active,
                &:hover,
                &:focus {
                    background-color: $brand-primary;
                    border-color: $brand-primary;
                    color: #fff;
                }
                > a, > span {
                    padding: 4px 20px;
                    &:hover,
                    &:focus {
                        background-color: $brand-primary;
                        border-color: $brand-primary;
                        color: #fff;
                        padding: 4px 20px;
                    }
                }
            }
            li+li {
                margin-left: 0px;
            }
        }
    }
}


.carousel, .owl-carousel {
    .estate {
        padding: 5px;
        color: #000;
        background-color: #fff;
        margin-top: 0px;
        + .estate {
            margin-left: 30px;
            margin-right: 0px;
            margin-top: 0px;
        }
        .estate-legend {
            text-align: left;
        }
        .preview {
            padding: 0px;
        }
        .title {
            margin: 5px 0px;
            padding: 0;
        }
        .subtitle  {
            font-weight: normal;
            padding: 0px;
            margin: 0px;
        }
        .estate-images {
            position: static;
            min-width: 250px;
            min-height: 190px;
        }
        .estate-image, .estate-preview {
            width: 250px;
            height: 190px;
        }
        .agency-logo {
            display: block;
            position: absolute;
            margin-top: -60px;
            margin-left: 5px;
            width: 50px;
            height: 50px;
        }
    }
}

.program {
    .program-images {
        .program-preview {
            background-image: url('http://'+$aws-s3-domain+'/bundles/vitelogecore/images/fr/logo-viteloge-moteur-recherche-immobilier.svg.gz');
            background-position: center center;
            background-repeat: no-repeat;
            background-color: #ddd;
            background-size: 230px;
            width: 100px;
            min-height: 50px;
        }
    }
}

/** * */
.item .estate {
    min-width: 260px;
    width: 260px;
    min-height: 290px;
    margin-left: auto;
    margin-right: auto;
    float: none;
    @media (max-width: $screen-sm-max) {
        width: 90%;
    }
    @media (min-width: $screen-md-min) {
        margin-left: 25px;
        margin-right: 0px;
        float: left;
        &:first-child {
            margin-left: 50px;
        }
    }
}
