form.search {
    background-color: transparent;
    color: $text-color;
    a {
        text-decoration: underline;
        > span {
            color: #fff;
            &.radio-inline {
                padding-top: 0px;
            }
        }
    }
    .btn {
        font-size: 16px;
        font-weight: 700;
        border-radius: 6px;
        height: 40px;
        border: none;
        width: 100%;
    }
    .logo-container {
        display: block;
        margin-bottom: 5px;
    }
    > fieldset {
        border: none;
        .row {
            padding-left: 15px;
            padding-right: 15px;
            > [class*='col-'] {
                padding-left: 5px;
                padding-right: 5px;
                margin-top: 10px;
            }
        }
    }
    input{
       height: 40px;
       border: 1px solid #aaa;
    }
    select {
       height: 40px;
       border: 1px solid #aaa;
    }

    #moreinfo{
    border-radius: 0 5px 5px 0 !important;
    padding: 0 10px;
    }
    .select2-container {
        .select2-search--inline {
            .select2-search__field {
                height: 29px;
            }
        }
    }
    .select2-container--default, .select2-container--classic, .select2-container--viteloge {
        .select2-selection--multiple {
            .select2-selection__choice {
                padding: 5px;
            }
        }
    }
    .nav {
        &.nav-justified {
            @media (min-width: $screen-sm-min) {
                & {
                    margin-bottom: 25px;
                    padding-left: 15%;
                    padding-right: 15%;
                    > li {
                        + li {
                            padding-left: 5px;
                        }
                    }
                }
            }
            > li {
                + li {
                    margin-left: 2px;
                    margin-right: 2px;
                }
            }
        }
        > li {
            @media (max-width: $screen-sm-min) {
                &:first-child {
                    margin-left: 2px;
                    margin-right: 2px;
                }
            }
            > a {
                background-color: $text-color;
                font-size: 20px;
                font-weight: 700;
                cursor: pointer;
                span {
                    padding-left: 0px;
                }
            }
            &.active > a {
                &,
                &:hover,
                &:focus {
                    background-color: $rent-color;
                }
            }
        }
    }
}


