.input-group-btn {
    .field {
        color: $text-color;
        background-color: #eee;
        border: 1px solid #ccc;
        border-radius: 4px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        &:hover,
        &:focus {
            color: $text-color;
            border-color: #aaa;
            background-color: #ccc;
        }
    }
}

.btn-research {
    &,
    &:hover,
    &:focus,
    &:active {
        border-color: #fff !important;
    }
}

.box_right {
  margin: auto;
  width: 90%;
  color: white;
  font-size: 14px;
}

.display-cell {
  display: table-cell;
}

.display-table {
  display: table;
}
