/**
* Grid
*/
.row-no-padding {
    [class*='col-'] {
        padding-right:0;
        padding-left:0;
    }
}

.row-padding-5 {
    [class*='col-'] {
        padding-right:5px;
        padding-left:5px;
    }
}

.row-padding-10 {
    [class*='col-'] {
        padding-right:10px;
        padding-left:10px;
    }
}

[class*='col-'] {
    &.no-padding {
        padding-right: 0;
        padding-left: 0;
    }
    &.no-padding-right {
        padding-right: 0;
    }
    &.padding-5 {
        padding-right:5px;
        padding-left:5px;
    }
    &.padding-10 {
        padding-right:10px;
        padding-left:10px;
    }
}

@media (max-width: $screen-xs-max) {
    [class*='col-'] {
        &.no-padding-xs {
            padding: 0;
        }
        &.no-padding-xs-right {
            padding-right: 0;
        }
    }
}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    [class*='col-'] {
        &.no-padding-sm {
            padding: 0;
        }
        &.no-padding-sm-right {
            padding-right: 0;
        }
    }
}

@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
    [class*='col-'] {
        &.no-padding-md {
            padding: 0;
        }
        &.no-padding-md-right {
            padding-right: 0;
        }
    }
}

@media (min-width: $screen-lg-min) {
    [class*='col-'] {
        &.no-padding-lg {
            padding: 0;
        }
        &.no-padding-lg-right {
            padding-right: 0;
        }
    }
}
