.home {
    .banner {
        background-image: url('http://'+$aws-s3-domain+'/bundles/vitelogefrontend/images/home/background.jpg');
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    .banner .foward, .forward {
        > h1, > .h1 {
            @media (max-width: $screen-sm-max) {
                color: #27303d;
            }
        }
    }
    .container {
        @include container-fixed;

        @media (min-width: 750px) {
            width: (720px + $grid-gutter-width);
        }
        @media (min-width: 970px) {
            width: (940px + $grid-gutter-width);
        }
        @media (min-width: 1200px) {
            width: (940px + $grid-gutter-width);
        }
    }
}
