.round-icon {
    display: inline-block;
    border-radius: 50%;
    background-color: #27303d;
    color: #fff;
    overflow: hidden;
    > .fa {
        color: #fff;
    }
    & {
        width: 35px;
        height: 35px;
        line-height: 35px;
        font-size: 16px;
    }
    &.small {
        width: 25px;
        height: 25px;
        line-height: 25px;
        font-size: 13px;
    }
    &.medium {
        width: 45px;
        height: 45px;
        line-height: 45px;
        font-size: 18px;
    }
    &.large {
        width: 60px;
        height: 60px;
        line-height: 60px;
        font-size: 28px;
    }
    &.facebook {
        background-color: #3b5998;
        &:hover,
        &:focus {
            background-color: #4864b1;
            border: 1px solid #3b5998;
            & {
                line-height: 33px;
            }
            &.small {
                line-height: 23px;
            }
            &.medium {
                line-height: 43px;
            }
            &.large {
                line-height: 58px;
            }
        }
    }
    &.twitter {
        background-color: #55acee;
        &:hover,
        &:focus {
            background-color: darken(#55acee, 2);
            border: 1px solid #55acee;
            & {
                line-height: 33px;
            }
            &.small {
                line-height: 23px;
            }
            &.medium {
                line-height: 43px;
            }
            &.large {
                line-height: 58px;
            }
        }
    }
    &.google {
        background-color: #db4437;
        &:hover,
        &:focus {
            background-color: darken(#db4437, 2);
            border: 1px solid #db4437;
            & {
                line-height: 33px;
            }
            &.small {
                line-height: 23px;
            }
            &.medium {
                line-height: 43px;
            }
            &.large {
                line-height: 58px;
            }
        }
    }
}
.rounded-icon {
    @extend .round-icon;
    & {
        line-height: 30px;
        border: 4px solid #fff;
    }
    &.small {
        line-height: 20px;
        border: 2px solid #fff;
    }
    &.medium {
        line-height: 40px;
        border: 4px solid #fff;
    }
    &.large {
        line-height: 55px;
        border: 4px solid #fff;
    }
    &.animated {
        &:hover, &:focus {
            @extend .round-icon;
            border: none;
        }
    }
}
.round-icon, .rounded-icon {
    &.transition-small, &.transition-medium, &.transition-large, &.transition {
        @include transition(border .6s, width .6s, height .6s);
    }
    &.transition-small {
        &:hover, &:focus {
            @extend .small;
        }
    }
    &.transition-medium {
        &:hover, &:focus {
            @extend .medium;
        }
    }
    &.transition-large {
        &:hover, &:focus {
            @extend .large;
        }
    }
}


.fa-angle-double-left::before {
    font-size: 20px !important;
}
