.arrow {
    &:after {
        content: "";
        width: 0;
        height: 0;
        border-left: 12px solid transparent;
        border-right: 12px solid transparent;
        border-top: 12px solid #27303d;
        position: absolute;
        left: 50%;
    }
}

.margin-t10 {
    margin-top: 10px;
}

.lazy {
    display: none;
}

span.list-group-item {
    &:focus, &:hover {
        text-decoration: none;
        color: #555;
        background-color: #f5f5f5;
        cursor: pointer;
    }
}
