/* @see modal-backdrop fade in */
#nav-overlay {
    z-index: 49;
    @media (min-width: $grid-float-breakpoint) {
        display: none;
    }
}

.over-scrollable {
    position: relative;
    overflow: hidden;
    .scrollable {
        @include transition(all .4s);
    }
}
