.pos-relative, .position-relative {
    position: relative !important;
}

.pos-absolute, .position-absolute {
    position: absolute !important;
}

.pos-static, .position-static {
    position: static !important;
}

.pos-fixed, .position-fixed {
    position: fixed !important;
}
