.suggestions {
    margin-top: 10px;
    ul {
        > li {
            padding-top: 4px;
            padding-bottom: 4px;
            > .fa-caret-right {
                color: $brand-primary;
                margin-right: 10px;
            }
            > a {
                text-decoration: underline;
            }
        }
    }
}
