<section id="recommand-container">
    <h4>{% trans %}recommand.send.message.for.ad{% endtrans %}</h4>
    <div>
        {{ include('VitelogeFrontendBundle:Recommand:form/create.html.twig', { form: form, recommand: recommand }) }}
    </div>
</section>
