{% trans %}recommand.send.few.minutes{% endtrans %}

{#
    <p><b>Votre recommandation a bien ??envoy? !</b></p>
    <p>Vos contacts vont recevoir dans quelques minutes votre recommandation.<br/>
      Merci de l'int?? que vous portez ?ViteLog?! </p>
    <a href="index.php">Retour ?la page d'accueil</a>
#}
