{% extends 'VitelogeFrontendBundle::base.html.twig' %}
{%- block header -%}
  {{ render(controller('VitelogeFrontendBundle:Default:headerForm')) }}
{%- endblock header -%}
{% trans_default_domain 'FOSUserBundle' %}

{%- block main -%}
    <p>{{ 'registration.check_email'|trans({'%email%': user.email}) }}</p>
{%- endblock main -%}

