{% extends "FOSUserBundle::layout.html.twig" %}

{%- block main -%}
    {% embed "VitelogeUserBundle:grid:two-columns.html.twig" with { 'lsize': 9, 'rsize': 3 } %}
        {% trans_default_domain 'FOSUserBundle' %}
        {%- block left -%}
            <section>
                <h3>{% trans from 'messages' %}user.register.success{% endtrans %}</h3>
                <div>
                    <p>
                        <span>{% trans with { '%username%': user.username } %}registration.confirmed{% endtrans %}</span>
                    </p>
                    <p class="text-justify">
                        <span>{% trans from 'messages' %}user.register.success.line1{% endtrans %}</span>
                    </p>
                    <p class="text-center">
                        <a class="btn btn-primary" href="{{ path('viteloge_frontend_user_index') }}" role="button">
                            <span class="fa fa-user">&nbsp;</span>
                            <span>{% trans from 'messages' %}user.profile.access{% endtrans %}</span>
                        </a>
                    </p>
                    {%- if app.session is not empty -%}
                        {%- set targetUrl = app.session.get('_security.' ~ app.security.token.providerKey ~ '.target_path') -%}
                        {%- if targetUrl is not empty -%}
                            <p>
                                <a href="{{ targetUrl }}">{% trans %}registration.back{% endtrans %}</a>
                            </p>
                        {%- endif -%}
                    {%- endif -%}
                </div>
            </section>
        {%- endblock -%}
        {%- block right -%}
            {{- include('VitelogeFrontendBundle:Block:aside_right.html.twig', {}) -}}
        {%- endblock -%}
    {%- endembed -%}
{%- endblock main -%}
