{% extends "VitelogeUserBundle:base:box.html.twig" %}

{%- block box_title -%}
    {%- trans -%}Professionnels de l’immobilier{%- endtrans -%}
{%- endblock box_title -%}

{%- block box_content -%}
    <p>Vous êtes un professionnel de l'immobilier. Vous souhaitez une solution de haut niveau pour être présent sur Internet ou vous souhaitez augmenter sensiblement le trafic de votre site internet ?</p>
    <br />
    <p><strong>Visitez notre espace Professionnels !</strong></p>
    <a class="btn btn-primary btn-block" role="button" href="http://pro.viteloge.com/">Professionnels</a>
{%- endblock box_content -%}
