{% extends "VitelogeUserBundle:base:box.html.twig" %}

{%- block box_title -%}
    {%- trans -%}Immobilier entre particuliers{%- endtrans -%}
{%- endblock box_title -%}

{%- block box_content -%}
    <p>Vous souhaitez vendre vous-même votre bien immobilier sans
    passer par un professionnel. Vous cherchez un outil simple qui
    vous permette en quelques cliques de créer une présentation
    exceptionnelle de votre bien visible par des millions
    d'internautes ?</p>
    <p><strong>Visitez notre espace Particuliers !</strong></p>
    <a class="btn btn-primary btn-block" role="button" href="http://perso.viteloge.com/">Particuliers</a>
{%- endblock box_content -%}
