{#{% block _viteloge_frontend_ad_transaction_widget %}
    <fieldset class="tablist bg-transparent" role="tablist">
        <div class="tab" data-role="tab">
            <input class="" type="radio" id="viteloge_frontend_ad_transaction_0" name="viteloge_frontend_ad[transaction]" value="0" checked="checked">
            <label class="text-upper" for="viteloge_frontend_ad_transaction_0">{% trans %}Rent{% endtrans %}</label>
        </div>
        <div class="tab" data-role="tab">
            <input class="" type="radio" id="viteloge_frontend_ad_transaction_1" name="viteloge_frontend_ad[transaction]" value="1">
            <label class="text-upper" for="viteloge_frontend_ad_transaction_1">{% trans %}Sale{% endtrans %}</label>
        </div>
        <div class="tab" data-role="tab">
            <input class="" type="radio" id="viteloge_frontend_ad_transaction_2" name="viteloge_frontend_ad[transaction]" value="2">
            <label class="text-upper" for="viteloge_frontend_ad_transaction_2">{% trans %}New{% endtrans %}</label>
        </div>
        <div class="clearfix"></div>
    </fieldset>
{% endblock %}#}

{% block test %}
    <input class="" type="text" list="where" placeholder="{% trans %}Where{% endtrans %} ?" autocomplete="off" spellcheck="off" maxlength="100">
    <datalist id="where">
        <option value="Paris">Paris</option>
        <option value="Rennes">Rennes</option>
        <option value="Laval">Laval</option>
        <option value="Lorient">Lorient</option>
        <option value="Macao">Macao</option>
    </datalist>
{% endblock %}
