<h1>{{ recommand.fullname }} souhaite vous faire découvrir ViteLogé, le moteur de recherche le plus rapide de l'immobilier !</h1>
<p>{{ recommand.message }}</p>
<h4><a href="http://www.viteloge.com">http://www.viteloge.com</a></h4>
<p>
    -------------------------------------<br/>
    Ce message a été rédigé par {{ recommand.fullname }} ({{ recommand.email }}), qui vient de visiter notre site <a href="http://www.viteloge.com">http://www.viteloge.com</a>, le moteur de recherche le plus rapide de l'immobilier, et a décidé de vous recommander notre site. <br/>A bientôt sur <a href="http://www.viteloge.com">http://www.viteloge.com</a> !
</p>
