<li class="social-lnk">
    <a href="{{ hwi_oauth_login_url(owner) }}" class="round-icon {{ owner | trans({}, 'HWIOAuthBundle') }}" aria-label="{{ owner | trans({}, 'HWIOAuthBundle') }}" data-toggle="tooltip" data-placement="top" data-original-title="{% trans with { '%oauth%': owner | trans({}, 'HWIOAuthBundle') } %}viteloge.connect.with.oauth{% endtrans %}">
        <span class="fa fa-{{ owner | trans({}, 'HWIOAuthBundle') }}"></span>
    </a>
</li>
