{% extends 'VitelogeFrontendBundle::base.html.twig' %}
{%- block header -%}
  {{ render(controller('VitelogeFrontendBundle:Default:headerForm')) }}
{%- endblock header -%}
{%- block main -%}
    {%- embed "VitelogeUserBundle:grid:two-columns.html.twig" with { 'lsize': 8, 'rsize': 4 } -%}
        {%- block left -%}
            {% trans_default_domain 'FOSUserBundle' %}
            <p>{%- trans -%}resetting.password_already_requested{%- endtrans -%}</p>
        {%- endblock -%}
        {%- block right -%}
            {{- include('VitelogeFrontendBundle:Block:aside_right.html.twig', {}) -}}
        {%- endblock -%}
    {%- endembed -%}
{%- endblock main -%}
{%- block javascripts -%}
    {{- parent() -}}
    <script>
        jQuery(document).ready(function() {
            displayInput();
        });
    </script>
{%- endblock javascripts -%}
