{% extends "FOSUserBundle::layout.html.twig" %}

{% block main %}
    {% embed "VitelogeUserBundle:grid:two-columns.html.twig" with { 'lsize': 8, 'rsize': 4 } %}
        {% block left %}
            {% trans_default_domain 'FOSUserBundle' %}
            <p>{{ 'resetting.password_already_requested'|trans }}</p>
        {% endblock %}
        {% block right %}
            {{ include('VitelogeFrontendBundle:Block:aside_right.html.twig', {}) }}
        {% endblock %}
    {% endembed %}
{% endblock main %}
