<section id="message-container-{{ message.ad.id }}">
    <h4 style="color:black">{% trans %}message.send.message.to.group.for.ad{% endtrans %}</h4>
    <div>
        {{ include('VitelogeFrontendBundle:Message:form/create.html.twig', { form: form, message: message }) }}
    </div>
</section>
