<div class="box_right">
        <h4>{% block box_title %}{% endblock box_title %}</h4>

        {% block box_content %}

        {% endblock box_content %}

    {% if footer is defined and footer %}
            {% block box_footer %}

            {% endblock %}
    {% endif %}
</div>
