{% set flashes = app.session.flashbag.all() %}
{%- if flashes -%}
    <div class="container">
        {% for type, messages in flashes %}
            {% for message in messages %}
                {%- embed 'VitelogeCoreBundle:Global:alert.html.twig' with { alerts: messages, type: type, dismissible: true } -%}
                    {%- block alert_title -%}

                    {%- endblock -%}
                {%- endembed -%}
            {% endfor %}
        {% endfor %}
    </div>
{%- endif -%}
