{% extends 'VitelogeFrontendBundle:Static:base.html.twig' %}

{%- block title -%}
    <title>{%- trans -%}viteloge.frontend.static.apiform.title{%- endtrans -%}</title>
{%- endblock title -%}

{%- block title -%}
    {%- trans -%}viteloge.frontend.static.apiform.maintitle{%- endtrans -%}
{%- endblock title -%}

{%- block teaser -%}
    three
{%- endblock teaser -%}

{%- block main_title -%}
    Insérez un formulaire de recherche ViteLogé dans votre propre site !
{%- endblock main_title-%}

{%- block main_content -%}
    <p>Vous pouvez proposer aux visiteurs de votre site Web l'efficacité des recherches ViteLogé. Il vous suffit de copier le code ci-dessous et de le coller dans le code HTML de la page où vous souhaitez voir apparaître le formulaire de recherche. <b>Et c'est gratuit !</b></p>

    <p>Vous devez choisir une ville pour générer le code correspondant au formulaire de recherche :</p>
{%- endblock main_content -%}
