{% extends 'VitelogeFrontendBundle:Static:base.html.twig' %}
{% set better = true %}
{%- block title -%}
    <title>{%- trans -%}viteloge.frontend.static.contactus.title{%- endtrans -%}</title>
{%- endblock title -%}

{%- block main_title -%}
    {%- trans -%}viteloge.frontend.static.contactus.maintitle{%- endtrans -%}
{%- endblock main_title -%}

{%- block teaser -%}
    four teaser-fixed
{%- endblock teaser -%}

{%- block main_content -%}
    {{ render(path('viteloge_frontend_contact_new')) }}
{%- endblock -%}
