{% extends 'VitelogeFrontendBundle:Static:base.html.twig' %}

{%- block title -%}
    <title>{%- trans -%}viteloge.frontend.static.mention.title{%- endtrans -%}</title>
{%- endblock title -%}

{%- block main_title -%}
    {%- trans -%}viteloge.frontend.static.mention.maintitle{%- endtrans-%}
{%- endblock main_title -%}

{%- block teaser -%}
    five teaser-fixed
{%- endblock teaser -%}

{%- block main_content -%}
    <p>
        <strong>Propriétaire du site</strong>
    </p>
    <p>Le propriétaire du site est la société Viteloge SAS
    <br />
    Adresse : 90 RUE CHARLES NUNGESSER 29490 GUIPAVAS
    <br />
    <ul>
        <li>Responsable de publication : Charles Cabillic</li>
        <li>SIRET : 43316898600043</li>
        <li>Capital social : 10 000 Euros</li>
        <li>Numero de TVA: FR07433168986</li>
        <li>Email: contact(a)viteloge.com</li>
        <li>Graphisme, développement et intégration : Acreat Web Technologies</li>
    </ul>
    <br />
    Hébergeur : Amazon Web Services, Inc. P.O. Box 81226 Seattle, WA 98108-1226
    </p>
    <p><strong>Conditions Générales d’Utilisation</strong></p>
    <p>Ce site web est un site d’informations générales en langue française.<br />
    Les informations diffusées sur le site (textes, graphiques, photos, simulations, indications, ...) ont un caractère purement informatif et ne sont données qu'à titre indicatif. Malgré tout le soin apporté à sa réalisation et à son exactitude, ce site ne peut pas constituer un document contractuel et ne saurait fonder une quelconque réclamation.<br />
    L'accès au site est libre et anonyme.<br />
    L'utilisateur reconnaît avoir pris connaissance des présentes CGU et déclare les accepter sans restriction ni réserve.
    </p>
    <p><strong>Propriété intellectuelle et copyright</strong></p>
    <p>L'ensemble des éléments du site (textes, photographies, documents...) sont, sauf dispositions contraires, la propriété intellectuelle exclusive de la société Acreat. Par conséquent, toute reproduction, représentation, transmission, diffusion, partielle ou totale, est interdite selon les termes de l'article L. 122-4 du CPI sous réserve des exceptions prévues à l'article L. 122-5 du CPI. Toute utilisation de données figurant sur ce site nécessite une autorisation préalable et expresse. A défaut, le délit de contrefaçon constitué est sanctionné sur le fondement des articles L. 335-2 et suivants du CPI.<br />
    Pour toute exploitation autorisée de tout ou partie du contenu du site, faire figurer le nom de l'auteur, ses qualités, l'année de publication et la source.
    </p>
    <p><strong>Liens hypertextes</strong></p>
    <p>L'éditeur ne saurait engager sa responsabilité sur le contenu des informations figurant sur les pages auxquelles les liens hypertextes du présent site renvoient.</p>
    <p><strong>Droit d’accès</strong></p>
    <p>Conformément au chapitre V de la loi "Informatique et Libertés" du 6 janvier 1978 (modifiée par la loi n° 2004-801 du 6 août 2004 relative à l'informatique, aux fichiers et aux libertés), vous disposez d'un droit d'accès à vos informations personnelles</p>
{%- endblock main_content -%}
