{% extends 'VitelogeFrontendBundle:Static:base.html.twig' %}

{%- block title -%}
    <title>{%- trans -%}Privacy{%- endtrans -%}</title>
{%- endblock title -%}

{%- block main_content -%}
    cookie
{%- endblock main_content -%}
