{% extends 'VitelogeFrontendBundle:Static:base.html.twig' %}

{%- block title -%}
    <title>{%- trans -%}viteloge.frontend.static.privacy.title{%- endtrans -%}</title>
{%- endblock title -%}

{%- block main_title -%}
    {%- trans -%}viteloge.frontend.static.privacy.maintitle{%- endtrans -%}
{%- endblock main_title -%}

{%- block teaser -%}
    six teaser-fixed
{%- endblock teaser -%}

{%- block main_content -%}
    <h2 class="h4">Informations l'utilisation des cookies</h2>
    <p>Notre site utilise des cookies pour vous distinguer des autres utilisateurs de ViteLogé. Cela nous aide à vous fournir une bonne expérience lorsque vous naviguez sur notre site et nous permet également d'améliorer notre site. En raison de récents changements dans la loi, tous les sites Web qui opèrent dans certaine partie de l'Union européenne sont tenus d'obtenir le consentement de l'utilisateur pour le stockage des cookies (ou des technologies similaires) sur vos ordinateurs ou appareil mobile.</p>
    <p>En continuant à naviguer sur le site, vous acceptez notre utilisation des cookies comme indiqué ci-dessous. Si vous n'êtes pas d'accord sur le fait de placer des cookies sur votre ordinateur, alors vous devriez soit décider de ne pas visiter le site, supprimer les cookies après avoir visité le site, ou visitez le site à l'aide paramètre d'utilisation anonyme de votre navigateur. Dans tous les cas, les cookies utilisés sur ce site, ne permettent en aucun cas de collecter des informations personnellement identifiable.</p>
    <h2 class="h4">Qu'est ce qu'un cookie</h2>
    <p>Un cookie est un petit fichier texte composé de caractères alphanumériques qui est déposé sur votre ordinateur lorsque vous naviguez sur un site précis à travers votre navigateur Internet. Le cookie est uniquement utilisé pour aider votre navigateur à traiter un site web, il ne collecte aucune information sur votre ordinateur et il ne fouille pas dans vos fichiers.</p>
    <p>En général, un fichier cookie contient :
        <ul>
            <li>Le nom du serveur du site web qui a créé le cookie</li>
            <li>La période de validité du cookie</li>
            <li>La valeur du cookie</li>
        </ul>
    </p>
    <h2 class="h4">Changer vos paramètres de sauvegardes de cookies</h2>
    <p>Dans le cas ou vous souhaiteriez changer votre politique d'enregistrements de cookie, veuillez vous référer au lien ci-dessous en fonction de votre navigateur
        <ul>
            <li><a href="http://support.microsoft.com/kb/196955" rel="nofollow">Internet Explorer</a></li>
            <li><a href="http://support.mozilla.org/en-US/kb/cookies-information-websites-store-on-your-computer?redirectlocale=en-US&amp;redirectslug=Cookies" rel="nofollow">Firefox</a></li>
            <li><a href="http://support.google.com/chrome/bin/answer.py?hl=en&amp;answer=95647" rel="nofollow">Chrome</a></li>
            <li><a href="http://support.apple.com/kb/HT1677" rel="nofollow">Safari</a></li>
        </ul>
    </p>
    <h2 class="h4">En savoir d'avantages</h2>
    <p><a href="http://www.allaboutcookies.org/" rel="nofollow">http://www.allaboutcookies.org/</a></p>
{%- endblock main_content -%}
