{% extends 'VitelogeFrontendBundle:Static:base.html.twig' %}

{%- block title -%}
    <title>{%- trans -%}viteloge.frontend.static.privacy.title{%- endtrans -%}</title>
{%- endblock title -%}

{%- block main_title -%}
    {%- trans -%}viteloge.frontend.static.privacy.maintitle{%- endtrans -%}
{%- endblock main_title -%}

{%- block teaser -%}
    six
{%- endblock teaser -%}

{%- block main_content -%}
    cookie
{%- endblock main_content -%}
