{% extends 'VitelogeFrontendBundle::base.html.twig' %}

{% block title %}
    {% trans %}Privacy{% endtrans %}
{% endblock %}

{% block main %}
<aside>
    {{ include('VitelogeFrontendBundle:menu:static.html.twig', {}) }}
</aside>
<section class="highlighting text-center">
    <article class="container">
        <h3 class="text-upper">{% trans %}Privacy{% endtrans %}</h3>
        <p>
            Loremp ipsum
        </p>
        {% trans %}Acreat Web Technologies{% endtrans %}
    </article>
</section>
{% endblock %}
