{% extends 'VitelogeFrontendBundle:Static:base.html.twig' %}

{%- block title -%}
    <title>{% trans %}Recommand{% endtrans %} {% trans %}Fasthousing{% endtrans %}</title>
{%- endblock title -%}

{%- block main_content -%}
    {{ render(path('viteloge_frontend_recommand_new')) }}
{%- endblock main_content -%}
