{% extends 'VitelogeFrontendBundle:Static:base.html.twig' %}

{%- block title -%}
    <title>{% trans %}viteloge.frontend.static.recommand.title{% endtrans %}</title>
{%- endblock title -%}

{%- block main_title -%}
    {% trans %}viteloge.frontend.static.recommand.maintitle{% endtrans %}
{%- endblock main_title -%}

{%- block teaser -%}
    seven teaser-fixed
{%- endblock teaser -%}

{%- block main_content -%}
    {{ render(path('viteloge_frontend_recommand_new')) }}
{%- endblock main_content -%}
