{% extends 'VitelogeFrontendBundle:Static:base.html.twig' %}

{%- block title -%}
    <title>{%- trans -%}Register{%- endtrans -%}</title>
{%- endblock title -%}

{%- block teaser -%}
    eight
{%- endblock teaser -%}

{%- block main_content -%}
    <div class="row">
        <div class="col-md-6">
            <div class="theme-rent">
                {{- include('VitelogeFrontendBundle:Static:fragment/register-perso.html.twig') -}}
            </div>
        </div>
        <div class="col-md-6">
            <div class="theme-sale">
                {{- include('VitelogeFrontendBundle:Static:fragment/register-pro.html.twig') -}}
            </div>
        </div>
    </div>
{%- endblock main_content -%}
