{% extends 'VitelogeFrontendBundle::base.html.twig' %}

{% block title %}
    {{ 'Subscribe'|trans }}
{% endblock %}

{% block main %}
<section class="highlighting text-center">
    <article class="container">
        <h3 class="text-upper">{{ 'Subscribe'|trans }}</h3>
        <p>
            Loremp ipsum
        </p>
    </article>
</section>
{% endblock %}
