{% extends 'VitelogeFrontendBundle:Static:base.html.twig' %}

{%- block title -%}
    <title>{%- trans -%}viteloge.frontend.static.why.title{%- endtrans -%}</title>
{%- endblock title -%}

{%- block main_title -%}
    {%- trans -%}viteloge.frontend.static.why.maintitle{%- endtrans -%}
{%- endblock main_title -%}

{%- block teaser -%}
    one teaser-fixed
{%- endblock teaser -%}

{%- block main_content -%}
    <p>ViteLogé est un service à ce jour unique en son genre. Il vous permet en une seule fois de rechercher parmi plusieurs centaines de milliers d’annonces immobilières de professionnels et d’être gratuitement et directement mis en relation avec le site du professionnel.</p>
    <p>De plus, la technologie exclusive utilisée par ViteLogé lui permet de revisiter chaque annonce immobilière au bout de seulement quelques dizaines d’heures, lui conférant une pertinence inégalée dans le monde de l’immobilier sur Internet.</p>
    <p>ViteLogé grandit sans arrêt&nbsp;! En effet, ViteLogé visite sans cesse de nouveaux sites, et trouve en permanence de nouvelles annonces. </p>
    <p>Enfin, ViteLogé est entièrement dédié à vous permettre de trouver rapidement et facilement le bien que vous cherchez. Il n’y donc aucune information superflue&nbsp;pour vous faire perdre du temps&nbsp;!</p>
{%- endblock main_content -%}
