{% set menus = [
    { title: 'Informations on Fasthousing', route: 'viteloge_frontend_static_about' },
    { title: 'Why Fasthousing',             route: 'viteloge_frontend_static_why' },
    { title: 'Your ad on Fasthousing',      route: 'viteloge_frontend_static_ad' },
    { title: 'Contact',                     route: 'viteloge_frontend_static_contactus' },
    { title: 'Privacy',                     route: 'viteloge_frontend_static_privacy' },
    { title: 'Recommand',                   route: 'viteloge_frontend_static_recommand' },
    { title: 'Subscribe',                   route: 'viteloge_frontend_static_subscribe' },
    { title: 'Register',                    route: 'viteloge_frontend_static_register' },
    { title: 'Fasthousing API',             route: 'viteloge_frontend_static_apiform' },
    { title: 'General Terms and Conditions',route: 'viteloge_frontend_static_gtc' }
]%}
<ul class="dropdown-menu dropdown-menu-right">
    {%- for menu in menus -%}
        <li class="{% if app.request.get('_route') == menu.route %}active{% endif %}">
            <a href="{{ path(menu.route) }}">{{ menu.title|trans }}</a>
        </li>
    {%- endfor -%}
</ul>
