{% extends 'VitelogeFrontendBundle::base.html.twig' %}

{% block main %}
    {% embed "VitelogeUserBundle:grid:two-columns.html.twig" with { 'lsize': 8, 'rsize': 4 } %}
        {% block left %}
            {{ include('VitelogeFrontendBundle:Form:userSearch.html.twig', { form: form }) }}
        {% endblock %}
        {% block right %}
            <aside>
                <div class="">
                    {{ include('VitelogeFrontendBundle:menu:user.html.twig', { }) }}
                </div>
            </aside>
            {{ include('VitelogeFrontendBundle:Block:aside_right.html.twig', {}) }}
        {% endblock %}
    {% endembed %}
{% endblock main %}
