       <li class="footlihead"><b>Services Vitelogé</b></li>
        <li class="footli">
            <a href="http://perso.viteloge.com">Immobilier entre particulier</a>
        </li>
        <li class="footli">
            <a href="http://pro.viteloge.com">Professionnel de l'immobilier</a>
        </li>
        <li class="footli">
            <a href="http://neuf.viteloge.com">Immobilier neuf</a>
        </li>

