<div class="glossary">
    <ul class="clearfix list-inline">
        <li>
            <a href="http://perso.viteloge.com">Immobilier entre particulier</a>
        </li>
        <li>
            <a href="http://pro.viteloge.com">Professionnel de l'immobilier</a>
        </li>
        <li>
            <a href="http://neuf.viteloge.com">Immobilier neuf</a>
        </li>
    </ul>
</div>
