<span class="visible-xs-block">{% trans %}viteloge.share.ad.with{% endtrans %}</span>
<div class="inline fb-share-button" data-href="{{ url }}" data-layout="button_count"></div>
<div class="inline tweet-position"><a href="https://twitter.com/share" class="twitter-share-button" data-text="{{ text }}" data-url="{{ url }}" data-hashtags="viteloge"{% if user is defined %} data-via="{{ user.fullname }}"{% endif %} data-related="viteloge" data-size="default">Tweet</a></div>
