<div class="container">
    <a class="" href="{{ path('viteloge_frontend_homepage') }}">
        <img src="{{ asset('bundles/frontendbundle/images/common/logo.png') }}" class="logo" alt="viteloge" data-role="logo">
    </a>
    <nav class="navigation pull-right" role="navigation">
        <ul>
            <li><a href="user/login{#{{ path('viteloge_user_homepage') }}#}" class="">{% trans %}Registration{% endtrans %}</a></li>
            <li><a href="connexion.html">{% trans %}Connection{% endtrans %}</a></li>
        </ul>
    </nav>
    <div class="cleafix"></div>
</div>
