<h3 class="text-uppercase">{% trans %}Properties for rent near you{% endtrans %}</h3>
{% if ads|length %}
    {%- embed "VitelogeFrontendBundle:Block:carousel.html.twig" with { 'hasIndicators': 0, 'hasControls': true, 'carouselClass': 'estates' } -%}
        {%- block carousel_id -%}
            carousel-home-{{ transaction }}
        {%- endblock carousel_id -%}
        {%- block carousel_slides -%}
            {%- for ad in ads -%}
                {% if loop.first or loop.index0 is divisible by(3) %}<div class="item clearfix{% if loop.first %} active{% endif %}">{% endif %}
                    {{ include('VitelogeFrontendBundle:Ad:render/figure.html.twig', { 'ad': ad }) }}
                {% if loop.last or ( not loop.first and loop.index is divisible by(3) ) %}</div>{% endif %}
            {%- endfor -%}
        {%- endblock carousel_slides -%}
        {%- block carousel_indicators -%}
            {#
            {%- for i in 1..(ads|length)/3|round -%}
                <li data-target="#{{ block('carousel_id') }}" data-slide-to="{{ loop.index0 }}" class="{% if loop.first %}active{% endif %}"></li>
            {%- endfor -%}
            #}
        {%- endblock carousel_indicators -%}
    {%- endembed -%}
{% else %}
    <span>{% trans %}None{% endtrans %}</span>
{% endif %}
