<h3 class="text-uppercase">{% transchoice transaction|vl_intval with { '%city%': 'viteloge.from.you'|trans } %}ad.transaction.near.city{% endtranschoice %}</h3>
{% if ads|length %}
    <div id="carousel-home-{{ transaction }}" class="owl-carousel slide" data-ride="carousel">
        {%- for ad in ads -%}
            {{ include('VitelogeFrontendBundle:Ad:render/figure.html.twig', { 'ad': ad }) }}
        {%- endfor -%}
    </div>
{% else %}
    <span>{% trans %}None{% endtrans %}</span>
{% endif %}
