<h1 class="h3 text-uppercase text-center">{% spaceless %}
    {%- block ad_latest_title -%}
        {% set cityName = cityName|default('viteloge.from.you'|trans)%}
        {%- transchoice transaction|vl_intval with { '%city%': cityName } -%}ad.transaction.near.city{%- endtranschoice -%}
    {%- endblock ad_latest_title -%}
{% endspaceless %}</h1>
{%- block ad_latest_content -%}
    {% for key,ad in ads %}
        {{ include('VitelogeFrontendBundle:Ad:render/list.html.twig', { 'ad': ad,'key':key }) }}
    {% else %}
        <div class="clearfix">
            {{- include('VitelogeCoreBundle:Global:alert.html.twig', { type: 'info', alerts: { 0: 'ad.noresult'|trans }, dismissible: false }) -}}
        </div>
    {% endfor %}
{%- endblock ad_latest_content -%}
