<section id="viteloge-frontend-ad-paginated" class="highlighting text-center ajax-pager-container">
    <div class="container">
        <h3 class="text-upper">{% trans %}Properties for rent near you{% endtrans %}</h3>
        {% if pagination is defined %}
            {{ include('VitelogeFrontendBundle:misc:pager.html.twig', pagination) }}
        {% endif %}
        {% for ad in ads %}
            {{ include('VitelogeFrontendBundle:Ad:ad.html.twig', { 'ad': ad }) }}
        {% endfor %}
        {% if pagination is defined %}
            {{ include('VitelogeFrontendBundle:misc:pager.html.twig', pagination) }}
        {% endif %}
    </div>
</section>
