<section class="theme-N static">
    <div class="highlighting text-center">
        <h4 class="text-uppercase">{% transchoice count with { '%count%': count } %}ad.count.program.new{% endtranschoice %}</h4>
        <div id="carousel-ad-news" class="owl-carousel owl-slide" data-role="carousel">
            {%- for key, ad in ads -%}
                {{ include('VitelogeFrontendBundle:Ad:render/program.html.twig', { 'ad': ad }) }}
            {%- endfor -%}
        </div>
        <a href="http://neuf.viteloge.com" class="btn btn-default" role="button">{% trans %}viteloge.all.programs{% endtrans %}</a>
    </div>
</section>
