{% set page_class = "estimation resultat" %}
{% extends 'VitelogeEstimationBundle::layout.html.twig' %}

{% block listing_body %}
  <div class="panel">
    {{ 'estimation.contact.pris' | trans }}
  </div>
{% endblock listing_body %}
