<div class="hide_info col-md-3 col-sm-6 col-xs-12">
    <ul>
		{{ render_hinclude(path('viteloge_frontend_glossary_mostsearched_tansaction_limited', { transaction:'V',type: 'Appartement',limit: 5 })) }}
		{{ render_hinclude(path('viteloge_frontend_glossary_mostsearched_tansaction_limited', { transaction:'L',type: 'Appartement',limit: 5 })) }}
	</ul>
</div>

