{% if phone is not empty%}
<a href="tel:{{ phone }}" aria-expanded="false" data-toggle="tab" itemprop="url">
<button type="button" alt="contact" title="{{ phone }}" class="btn btn-primary btn-phone" onclick="ga('send', 'event', 'page-fiche-de-bien', 'clic-telephoner', 'telephoner')">
  <i class="fa fa-phone"></i><span>{{ phone }}<br/>1,34€/appel.0,34€/mn</span>
</button>
</a>
{% else %}
<button type="button" alt="contact" title="{{ phone }}" class="btn btn-primary btn-lg" onclick="ga('send', 'event', 'page-fiche-de-bien', 'clic-telephoner', 'telephoner')">
  <i class="fa fa-phone"></i><span>pas de numéro</span>
</button>
{% endif %}
