{%- if ad.rooms -%}
    <span>{% transchoice ad.rooms with { '%count%': ad.rooms } %}ad.rooms.count{% endtranschoice %}</span>
{%- endif -%}
{%- if ad.bedrooms -%}
    {%- if ad.rooms -%}
        <span class="vr"></span>
    {%- endif -%}
    <span>{% transchoice ad.bedrooms with { '%count%': ad.bedrooms } %}ad.bedrooms.count{% endtranschoice %}</span>
{%- endif -%}
{%- if ad.surface -%}
    {%- if ad.rooms or ad.bedrooms -%}
        <span class="vr"></span>
    {%- endif -%}
    <span>{{ ad.surface }}&nbsp;m²</span>
{%- endif -%}
<span>&nbsp;</span>
