{%- block query_stats %}
<li>
    <span class="fa fa-caret-right"></span>
    {%- block query_stats_name %}
        <a href="{{ path( 'viteloge_frontend_ad_search', { 'transaction': queryStats.transaction, 'what': queryStats.type, 'rooms': queryStats }) }}" class="text-capitalize">
            {{ queryStats.keywords }}
        </a>
    {% endblock -%}
</li>
{% endblock -%}
