<li class="item" data-role="item">
    <p class="pull-left">
        {{ include('VitelogeFrontendBundle:UserSearch:render/element.html.twig', { 'userSearch': webSearch.userSearch }) }}
    </p>
    <span class="btn btn-default pull-right">
        <span class="fa fa-clock-o"></span>&nbsp;{{ webSearch.updatedAt|time_diff|trans }}
    </span>
    <span class="clearfix"></span>
</li>
