<div id="viteloge-frontend-ad-paginated{%- if pagination is defined -%}-{{ pagination.currentPage }}{%- endif -%}" class="clearfix ajax-pager-container margin-t20">
    {%- if pagination is defined -%}
        {%- block pagination -%}
            {%- if pagination is not null and pagination.haveToPaginate -%}
                {{- pagerfanta(pagination, 'pager_viteloge', {}) -}}
            {%- endif -%}
        {%- endblock pagination -%}
    {%- endif -%}
    <div class="clearfix">
        {{- include('VitelogeFrontendBundle:QueryStats:latest.html.twig', { 'queries': queries }) -}}
    </div>
    {%- if pagination is defined -%}
        {{- block('pagination') -}}
    {%- endif -%}
</div>
