{%- block alert -%}
    {% set type = type|default('danger') %}
    {%- if dismissible is not defined -%}
        {% set dismissible = true %}
    {%- endif -%}
    {% set valid = valid|default(true) %}
    {%- if type == 'notice' -%}
        {% set type = 'info' %}
    {%- endif -%}
    {%- if type == 'success' -%}
        {% set class = 'fa-check-circle' %}
    {%- elseif type == 'info' -%}
        {% set class = 'fa-info-circle' %}
    {%- elseif type == 'warning' -%}
        {% set class = 'fa-warning' %}
    {%- elseif type == 'danger' or type == 'error' -%}
        {% set class = 'fa-exclamation-circle' %}
    {%- else -%}
        {% set class = '' -%}
    {%- endif -%}
    {%- if alerts|length > 0 or not valid -%}
        <div class="alert alert-{{ type }}{% if dismissible %} alert-dismissible"{% endif %} role="alert">
            <strong data-class="sr-only">
                {%- block alert_title -%}

                {%- endblock -%}
            </strong>
            {%- if dismissible -%}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            {%- endif -%}
            {%- block alert_messages -%}
                <ul class="list-unstyled">
                {%- for alert in alerts -%}
                    {% set message = alert.message|default(alert) %}
                    <li>
                        {%- if class -%}
                            <span class="fa {{ class }}" aria-hidden="true"></span>&nbsp;
                        {%- endif -%}
                        {{ message }}
                    </li>
                {%- endfor -%}
                </ul>
            {%- endblock -%}
        </div>
    {%- endif -%}
{%- endblock -%}
