{% extends 'VitelogeFrontendBundle:Ad:search.html.twig' %}

{%- block header_end -%}
    <div class="container">
        <div class="row clearfix">
            <div class="col-sm-10 col-md-9 col-lg-9">
                <h1 class="h2 text-capitalize">{{ queryStats.keywords }}</h1>
            </div>
        </div>

    </div>
{%- endblock -%}
{%- block header -%}
    {%- if form is defined -%}
    {%- embed "VitelogeUserBundle:base:headerSearch.html.twig" with {form:form} -%}


    {%- endembed -%}
    {%- endif -%}
{%- endblock -%}
