{% extends 'VitelogeFrontendBundle::base.html.twig' %}
{%- block header -%}
  {{ render(controller('VitelogeFrontendBundle:Default:headerForm')) }}
{%- endblock header -%}

{%- block schema -%}
    itemscope itemtype="http://schema.org/WebPage"
{%- endblock schema -%}

{%- block main -%}
    {% embed "VitelogeUserBundle:grid:two-columns.html.twig" with { 'lsize': 9, 'rsize': 3 } %}
        {% block left %}
            <article class="clearfix">
                <h1 class="h3">{%- trans with { '%city%': inseeCity.getNameAndPostalcode() } -%}querystats.search.done.city{%- endtrans -%}</h1>
                {% set count = pagination.nbResults|default(queries|length) %}
                <h2 class="h4">{%- transchoice count with {'%count%' : count} -%}querystats.search.count.available{%- endtranschoice -%}</h2>
                {{- include('VitelogeFrontendBundle:QueryStats:fragment/paginated.html.twig', {}) -}}
            </article>
        {% endblock %}
        {% block right %}
            {%- embed "VitelogeFrontendBundle:Block:aside_right.html.twig" -%}
                {%- block aside_before_adsense1 -%}
                    {{- render_hinclude(path('viteloge_frontend_suggest_near', { 'name': inseeCity.name, 'id': inseeCity.id, 'radius': constant('Viteloge\\CoreBundle\\Component\\Enum\\DistanceEnum::TEN'), 'limit': 10, '_format': 'html' })) -}}
                {%- endblock aside_before_adsense1 -%}
            {%- endembed -%}
        {% endblock %}
    {% endembed %}
{%- endblock main -%}
