<div class="row-no-padding suggestions clearfix">
    {%- if queries -%}
        <div class="col-md-5">
            <ul class="queries list-unstyled">
                {%- for key, queryStats in queries|slice(0, (queries|length)/2) %}
                    {{ include('VitelogeFrontendBundle:QueryStats:render/li.html.twig', {}) }}
                {% else %}
                    <li>{% trans %}querystats.nomore{% endtrans %}</li>
                {% endfor -%}
            </ul>
        </div>
        <div class="col-md-5">
            <ul class="queries list-unstyled">
                {%- for key, queryStats in queries|slice((queries|length)/2, queries|length) %}
                    {{ include('VitelogeFrontendBundle:QueryStats:render/li.html.twig', {}) }}
                {% else %}
                    <li>{% trans %}querystats.nomore{% endtrans %}</li>
                {% endfor -%}
            </ul>
        </div>
    {%- else -%}
        <section class="col-xs-12 margin-t10 clearfix">
            <div class="clearfix">
                {{- include('VitelogeCoreBundle:Global:alert.html.twig', { type: 'info', alerts: { 0: 'querystats.noresult'|trans }, dismissible: false }) -}}
            </div>
        </section>
    {%- endif -%}
</div>
