<div class="container clearfix hidden-xs">
    <a href="#backtotop" rel="nofollow" class="backtotop round-icon text-center medium transition-large" data-toggle="tooltip" data-placement="auto left" data-trigger="focus" title="{%- trans -%}viteloge.backtotop.tooltip{%- endtrans -%}" data-original-title="{%- trans -%}viteloge.backtotop.tooltip{%- endtrans -%}" aria-label="{%- trans -%}viteloge.backtotop.tooltip{%- endtrans -%}">
        <span class="fa fa-chevron-up"></span>
    </a>
</div>
