{% block misc_social %}
<div>
    {% trans %}If you like fasthousing dot com click on{% endtrans %} <button>facebook</button>
    {% trans %}Follow all Fasthousing news on{% endtrans %} <a href="facebook" target="_blank">facebook</a> <a href="twitter" target="_blank">twitter</a>
</div>
{% endblock %}
