{% block misc_social %}
<div>
    Si vous aimez viteloge.com cliquez sur <button>facebook</button>
    Suivez toute l'actualité Vitelogé sur <a href="facebook" target="_blank">facebook</a> <a href="twitter" target="_blank">twitter</a>
</div>
{% endblock %}
